<!doctype html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}

  <div class="uk-container uk-margin">  

    {% if page.infobox %}
    <div uk-grid>
      <div class="uk-width-expand@m">
        <h1 class="title">{{ page.title }}</h1>
        {{content}}
      </div>

      <div class="uk-width-1-3@m">
        <div class="uk-card uk-card-default uk-card-body">
          <table class="uk-table uk-table-small uk-table-divider">
            {% for info in page.infobox %}
              <tr>
                <td><b>{{ info[0] }}</b></td>
                <td>{{ info[1] }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    {% else %}
    <h1 class="title">{{ page.title }}</h1>
    {{content}}
    {% endif %}

  </div>

  {% include footer.html %}
</body>
